.swiper-container {
  background-color: var(--color-black-900);
  display: flex;
  background-color: var(--color-black-900);

  flex-direction: column;
  gap: 60px;
  padding-bottom: 30px;
  margin-top: -120px;

  @media (max-width: 834px) {
    margin-top: -160px;
  }
  
  @media (max-width: 616px) {
    margin-top: 87px;
    gap: 40px;
  }

  @media (max-width: 360px) {
    margin-top: 160px;
  }
}

.swiper-component {
  position: relative;
  .swiper-wrapper {
    max-height: 164px;
  }
  & &__swiper {
    display: flex;
  }

  & &__header {
    padding-inline: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
  }

  & &__header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  & &__header-link {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: end;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.01em;

    a {
      color: var(--color-white-100);
    }
  }

  & &__slides {
    position: relative;
  }

  & &__slide-container {
    width: 256px;
    height: 164px;
    border-radius: 16px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    
    &:hover {
      .hover-dropdown {
        transform: translateY(0);
        pointer-events: auto;
      }
  }

    .image {
      width: 100%;
      object-fit: cover;
      object-position: left;
      transition: 0.2s;
      position: relative;

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    max-height: 166px;
    width: 200px;
    transition: 0.2s;
    display: flex;
    z-index: 2;

    .arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      background: var(--secondary-button-color);
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        background-color: var(--button-secondary-hover);
      }
    }
  }

  .button-next {
    justify-content: flex-end;
    right: 0;
    padding-right: 36px;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  .button-prev {
    left: 0;
    padding-left: 36px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

    .arrow-container {
      transform: rotate(180deg);
    }
  }

  .button-hide {
    display: none;
  }

  @media (max-width: 834px) {
    & &__header {
      padding-inline: 40px;
    }
  }

  @media (max-width: 616px) {
    & &__header {
      padding-inline: 16px;
    }

    & &__header-title {
      max-width: 133px;
      font-size: 18px;
      line-height: 18px;
    }

    & &__slide-container {
      width: 218px;
      border-radius: 14px;
      height: 140px;
    }

    .button {
      display: none;
    }
  }
}
