
:root {
    --color-black: #000;
    --color-white: #fff;
    --outer-color: var(--color-white);
    --hover-primary-button: #e8e8e8;
    --hover-secondary-button: #ffffff4d;
    --arrow-color: #ffffff33;
    --dropdown-color: #1A1A1A;
    --border-button-color: #575757;
    --secondary-button-color: #242424;

    --font: Space Grotesk;
}