.skeleton {
  animation: skeleton-loading .8s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(197, 4%, 35%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
