.tooltip.tooltip--custom{
  background-color: var(--color-white-100);
  color: #767676 ;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.12px;
  border-radius: 8px;
  padding: 4px 8px 6px;
  opacity: 1;
}
