.registration-page {
  display: flex;

  .logo-container {
    margin-bottom: 32px;

    path {
      fill: var(--color-black-900);
    }
  }

  @media (max-width: 1080px) {
    .image-component {
      display: none;
    }
  }
}
