.log-component {
  --margin-on-page: 32px;
  --checkbox-size: 20px;

  display: flex;

  & &__logo-container {
    path {
      fill: var(--color-black-900);
    }
    margin-bottom: var(--margin-on-page);
  }

  & &__log-section {
    margin: 56px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    padding: 56px 80px 100px;
    max-width: 440px;
    width: 100%;
    color: var(--color-black-900);
  }

  & &__header {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-bottom: 16px;
  }

  & &__login-form {
    width: 100%;
    margin-top: var(--margin-on-page);
    display: flex;
    flex-direction: column;
  }

  & &__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--margin-on-page);
  }

  & &__link {
    margin-block: 16px var(--margin-on-page);
    align-self: flex-start;
    a {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.14px;
    }
  }

  & &__checkbox-container {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 18px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.14px;
    width: 100%;
  }

  & &__checkbox {
    cursor: pointer;
    appearance: none;
    border-radius: 5px;
    border: 1px solid var(--color-black-100);
    height: var(--checkbox-size);
    max-width: var(--checkbox-size);
    width: 100%;
    background: url(/check.svg) no-repeat center;
    transition: 0.2s;

    &:checked {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }

    &:hover {
      border-color: var(--color-black-200);
    }
  }

  & &__primary-button {
    background-color: var(--primary-color);
    max-width: 188px;
    align-self: flex-end;

    &:hover {
      background-color: var(--color-red-700);
    }
    &:active {
      background-color: var(--color-red-900);
    }
  }

  & &__break-line {
    height: 1px;
    width: 100%;
    background-color: var(--color-black-100);
  }

  & &__button-link {
    width: 100%;
    text-decoration: none;
  }

  & &__footer-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-block: var(--margin-on-page) 24px;
  }

  & &__secondary-button {
    background-color: transparent;
    color: var(--color-black-300);
    border: 1px solid var(--color-black-100);

    &:hover {
      border-color: var(--color-black-200);
    }

    &:active {
      border-color: var(--color-black-300);
    }
  }

  & &__error-container {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-color);
    margin-top: -16px;
    p {
      padding: 0;
      margin: 0;
    }
  }

  @media (max-width: 1080px) {
    .image-component {
      display: none;
    }
  }

  @media (max-width: 460px) {
    & &__log-section {
      padding: 0 16px;
    }
  }
}
