:root {
    --loader-size: 100px;
}

html, body, .load-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  & &__wrapper {
    margin: auto;
  }

  & &__load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    img {
        max-width: var(--loader-size);
        max-height: var(--loader-size);
    }

  }
}
